<!-- templates/Login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="LoginText">
            <img src="{{ url_for('static', filename='LOGIN.png') }}">
        </div>
        <div class="LOGIN">
            <form method="post" action="{{ url_for('login_page') }}" id="login-form">
                <input type="text" name="userName" class="userName" placeholder="Enter Your ID"> <br>
                <input type="password" name="userPass" class="userPass" placeholder="Enter Your PASSWORD"> <br>
                <input type="submit" value="LOGIN">
                <p>회원가입 | 아이디 찾기 | 비밀번호 찾기</p>
            </form>
        </div>
    </div>
</body>
</html>
